################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/BackEnd/.vs/BackEnd
/BackEnd/BackEnd/bin/Debug/net5.0
/BackEnd/BackEnd/obj
